<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Express Retake Exam January 2019</title>
    <link href="../static/css/site.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Video Tutorials</a>

            {{>headerAuth}}
        </nav>

        <section class="notifications">
            <p class="notification-message">
                Welcome {{user}}
            </p>
        </section>

        <main>
            <h1 class="text-center">Courses</h1>
            <section>
                <a href="/course/create" class="btn btn-warning ">Create Course</a>
                <form class="search float-right">
                    <label>Search: </label>
                    <input type="text">
                    <input type="submit" class="btn btn-info" value="Search">
                </form>
            </section>

            <div class="container mt-3">
                <div class="row ">
                    <div class="card-deck d-flex justify-content-center">
                    {{#each course}}   
                        <div class="card mb-4">
                            <img class="card-img-top"
                                src={{image}}
                                alt="Card image cap" width="400">
                            <div class="card-body">
                                <h4 class="card-title">{{title}}</h4>
                            </div>
                            <div class="card-footer">
                                <a href="/course/details/{{_id}}"><button type="button" class="btn btn-info">Details</button></a>
                                <small class="float-right">Date...</small>
                            </div>
                        </div>
                        {{else}}
                        <h2></h2>
                        {{/each}}

                        
                    </div>
                </div>
            </div>
            <h3 class="text-center">No courses...</h3>
        </main>

        <footer class="page-footer font-small">
            <div class="footer-copyright text-center py-3">© 2019
                <a href="#/">Express Fundamentals</a>
            </div>
        </footer>

    </div>
</body>

</html>